@use './functions/range';

.btn {
    --btn-size: #{range.build(48, 68, px, 992)};
    --btn-width: var(--btn-size);
    --btn-height: var(--btn-size);
    --btn-gap: 1em;
    --btn-border-size: 0;
    --btn-shadow-size: calc(var(--btn-size) / 10);
    --btn-radius: calc(var(--btn-size) / 2);
    --btn-px: 0;
    --btn-py: 0;
    --btn-fz: 16px;
    --btn-ff: var(--font-3);

    --btn-color: var(--color-dark);
    --btn-color-border: var(--color-dark);
    --btn-color-bg: transparent;
    --btn-color-shadow: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--btn-width);
    min-height: var(--btn-height);
    gap: var(--btn-gap);
    border: var(--btn-border-size) solid var(--btn-color-border);
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    background-color: var(--btn-color-bg);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: var(--btn-py) var(--btn-px);
    font-family: var(--btn-ff);
    font-size: var(--btn-fz);
    transition: var(--transition);
    line-height: 1.1;
    text-align: center;
    user-select: none;
}

.btn-outline-primary {
    --btn-border-size: 1px;
    --btn-px: calc(var(--btn-size) * 0.45);

    text-transform: uppercase;

    &.btn-light {
        --btn-color: var(--color-white);
        --btn-color-border: var(--color-white);
    }

    &:hover {
        --btn-color-bg: var(--color-primary);
        --btn-color-border: var(--color-primary);
    }
}
