@use './functions/range';

.btn {
    --btn-size: #{range.build(48, 68, px, 992)};
    --btn-width: var(--btn-size);
    --btn-height: var(--btn-size);
    --btn-gap: 1em;
    --btn-border-size: 0;
    --btn-shadow-size: calc(var(--btn-size) / 10);
    --btn-radius: 100px;
    --btn-px: 0;
    --btn-py: 0;
    --btn-fz: 16px;

    --btn-color: var(--color-dark);
    --btn-color-border: var(--color-dark);
    --btn-color-bg: transparent;
    --btn-color-shadow: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--btn-width);
    min-height: var(--btn-height);
    gap: var(--btn-gap);
    border: var(--btn-border-size) solid var(--btn-color-border);
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    background-color: var(--btn-color-bg);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: var(--btn-py) var(--btn-px);
    font-size: var(--btn-fz);
    transition: var(--transition);
    line-height: 1.1;
    text-align: center;
    user-select: none;
}

.btn-outline-primary {
    --btn-border-size: 1px;
    --btn-px: calc(var(--btn-size) * 0.45);

    text-transform: uppercase;

    &.btn-light {
        --btn-color: var(--color-white);
        --btn-color-border: var(--color-white);
    }

    &:hover {
        --btn-color-bg: var(--color-primary);
        --btn-color-border: var(--color-primary);
    }
}

.btn-submit {
    --btn-size: #{range.build(56, 70)};
    --btn-px: calc(var(--btn-size) * 0.45);
    --btn-color: var(--color-white);
    --btn-color-bg: var(--color-primary-medium);

    font-weight: bold;

    &::after {
        display: block;
        content: '';
        width: 12px;
        aspect-ratio: 1;
        background-color: var(--color-green);
        mask-image: var(--icon-corner-arrow);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        transition: var(--transition);
        transition-property: opacity, translate;
        rotate: 45deg;
        position: absolute;
        right: range.build(20, 26);
        translate: -150% 0;
        opacity: 0;
    }

    &:hover {
        &::after {
            opacity: 1;
            translate: 0 0;
        }
    }
}
