.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &-row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
