@use './functions/range';

.form {
    display: flex;
    flex-direction: column;
    gap: range.build(26, 30);

    .btn-submit {
        margin-right: auto;
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-row {
        --col-count: 1;
        --col-gap: 14px;

        display: grid;
        grid-template-columns: repeat(var(--col-count), calc((100% - var(--col-gap) * (var(--col-count) - 1)) / var(--col-count)));
        gap: var(--col-gap);

        @media (min-width: 600px) {
            --col-count: 2;
        }
    }
}

.form-info {
    font-size: range.build(12, 14);
    color: var(--color-gray);

    a {
        color: inherit;
        transition: var(--transition);
        transition-property: color, text-decoration-color;
        text-underline-offset: .15em;

        &:hover {
            color: var(--color-secondary);
            text-decoration-color: var(--color-secondary);
        }
    }
}
