.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.img,
.img-cover,
.img-contain {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

.bg-img-cover,
.bg-img-contain {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img-cover {
    background-size: cover
}

.bg-img-contain {
    background-size: contain
}

.icon {
    --icon-size: 100%;
    --icon-color: inherit;

    display: block;
    width: 200vw;
    max-width: var(--icon-size);
    color: var(--icon-color);
}
