@use './functions/range';

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.container {
    --container-width: var(--width-max);
    --container-px: var(--gap-container);
    --container-py: 0;
    --container-pt: var(--container-py);
    --container-pb: var(--container-py);
    --container-pl: var(--container-px);
    --container-pr: var(--container-px);

    width: calc(var(--container-width) + var(--gap-container) * 2);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--container-pt) var(--container-pr) var(--container-pb) var(--container-pl);
}

.formatted-text {
    & > * {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    p:empty {
        min-height: .5em;
    }
}

* {
    @media (hover: hover) {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--scroll-thumb-clr);
            border-radius: 4px;
            box-shadow: none;
            border: 2px solid transparent;

            &:hover {
                background-color: var(--scroll-thumb-hover-clr);
            }
        }
    }

    @-moz-document url-prefix() {
        @media (hover: hover) {
            scrollbar-width: thin;
            scrollbar-color: var(--scroll-thumb-clr) transparent;

            &:hover {
                scrollbar-color: var(--scroll-thumb-hover-clr) transparent;
            }
        }
    }
}
