@use '../../../node_modules/reset-css/sass/reset';
@use 'functions/range';

*, *:before, *:after {
    box-sizing: border-box;
    outline: none !important;
}

html {
    scroll-behavior: smooth
}

body {
    display: flex;
    flex-direction: column;
    min-width: var(--width-min);
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 300;
    color: var(--color-dark);
    background-color: var(--color-body);
    line-height: 1.6;
}

.is-opened-extended-menu body {
    overflow: hidden;
    margin-right: var(--compensate-scrollbar, 0);
}

button,
input,
textarea,
select {
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--color-dark);
}
