@use "vars";
@use "reset";

@use "layout";
@use "image";
@use "typography";
@use "button";
@use "form";
@use "fields";

@use "components/logo";
@use "components/lang";
@use "components/socials";
@use "components/links";
@use "components/pagination";
@use "components/breadcrumbs";

@use "sections/header";
@use "sections/news";
@use "sections/contact-section";
@use "sections/footer";

@use "pages/page-home";
@use "pages/page-news";
@use "pages/page-news-article";
