@use './functions/range';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 300;
}

h1, .h1 {
    font-size: range.build(60, 80);
    line-height: 1.05;
}

h2, .h2 {
    font-size: range.build(34, 60);
    line-height: 1.05;
}

h3, .h3 {
    font-size: range.build(28, 42);
    line-height: 1.05;
}

h4, .h4 {
    font-size: range.build(26, 36);
    line-height: 1.05;
}

h5, .h5 {
    font-size: range.build(20, 28);
    line-height: 1.2;
}

h6, .h6 {
    font-size: range.build(20, 22);
    line-height: 1.3;
}
