@use '../functions/range';

.breadcrumbs {
    font-size: range.build(12, 14);
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;

    ul {
        display: flex;
        align-items: center;
    }

    li:not(:last-child) {
        position: relative;

        &::after {
            display: inline-block;
            content: '/';
            vertical-align: middle;
            padding: 0 1.5em;
            opacity: .4;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        opacity: .4;
        transition: var(--transition);
        transition-property: color, opacity;

        &:hover {
            opacity: 1;
            color: var(--color-secondary);
        }
    }
}
