.base-link {
    color: inherit;
    transition: var(--transition);
    text-decoration: underline;
    text-underline-offset: .25em;
    text-decoration-color: transparent;
    transition-property: color, text-decoration-color;

    &:hover {
        color: var(--color-primary);
        text-decoration-color: inherit;
    }
}

.primary-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    line-height: 1.2;
    transition: var(--transition);
    transition-property: color;
    vertical-align: middle;
    color: var(--color-primary);

    &::after {
        display: inline-block;
        content: '';
        width: 10px;
        aspect-ratio: 1;
        vertical-align: middle;
        background-color: var(--color-primary);
        mask-image: var(--icon-corner-arrow);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        margin-left: -10px;
        translate: 20px 0;
        transition: var(--transition);
        transition-property: rotate, background-color;
    }

    &:hover {
        color: var(--color-primary);

        &::after {
            background-color: var(--color-primary);
            rotate: 45deg;
        }
    }
}