@use '../functions/range';

.logo {
    --logo-size: #{range.build(140, 210)};

    display: block;
    width: var(--logo-size);
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
    transition-property: color;
    margin-bottom: calc(var(--logo-size) * .025);
    font-weight: bold;
    font-size: range.build(15, 22);
    text-transform: uppercase;

    &:hover {
        color: var(--color-primary);
    }
}
