@use '../functions/range';

.logo {
    --logo-size: #{range.build(100, 150)};

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--logo-size);
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
    transition-property: color;
    //margin-bottom: calc(var(--logo-size) * .025);
    font-weight: bold;
    font-size: range.build(15, 22);
    text-transform: uppercase;

    &:hover {
        color: var(--color-secondary);
    }
}
