@use '../functions/range';

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: range.build(2, 6);

    a,
    span.dots {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        color: inherit;
        text-decoration: none;
    }

    a.page-link,
    span.dots {
        --link-size: #{range.build(38, 46)};

        min-width: var(--link-size);
        min-height: var(--link-size);
    }

    a.page-link {
        border: 2px solid transparent;
        border-radius: var(--link-size);
        transition: var(--transition);
        transition-property: border-color;
        padding: 0 .3em;

        &:hover,
        &.is-active {
            border-color: var(--color-primary);
        }
    }

    a.page-prev-link,
    a.page-next-link {
        position: relative;
        align-self: stretch;
        padding: 0 0.75em;

        &::before {
            display: block;
            content: '';
            width: 13px;
            aspect-ratio: 1;
            background-color: var(--color-dark);
            mask-image: var(--icon-corner-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: cover;
            transition: var(--transition);
            transition-property: background-color;
        }

        &:hover {
            &::before {
                background-color: var(--color-primary);
            }
        }
    }

    a.page-prev-link {
        &::before {
            rotate: -135deg;
        }
    }

    a.page-next-link {
        &::before {
            rotate: 45deg;
        }
    }
}
