@use '../functions/range';

.socials {
    --social-size: 48px;
    --social-border-color: var(--color-border);
    --social-bg-color: transparent;
    --social-icon-color: var(--color-secondary-medium);
    --social-hover-border-color: var(--color-secondary);
    --social-hover-bg-color: var(--color-secondary);
    --social-hover-icon-color: var(--color-white);

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    a {
        --social-icon: var(--icon-youtube);

        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--social-size);
        aspect-ratio: 1;
        border: 1px solid var(--social-border-color);
        background-color: var(--social-bg-color);
        transition: var(--transition);
        transition-property: border-color, background-color;
        border-radius: 50%;
        position: relative;

        &::before {
            display: block;
            content: '';
            width: 18px;
            aspect-ratio: 1;
            background-color: var(--social-icon-color);
            mask-image: var(--social-icon);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            transition: var(--transition);
            transition-property: border-color, background-color;
        }

        &:hover {
            border-color: var(--social-hover-border-color);
            background-color: var(--social-hover-bg-color);

            &::before {
                background-color: var(--social-hover-icon-color);
            }
        }

        &.is-linkedin {
            --social-icon: var(--icon-linkedin);
        }

        &.is-instagram {
            --social-icon: var(--icon-instagram);
        }

        &.is-youtube {
            --social-icon: var(--icon-youtube);
        }
    }
}
