.form-radio-switch {
    --bs-form-radio-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");

    position: relative;
    padding-left: 2.5em;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
    cursor: pointer;

    &::before {
        display: block;
        content: '';
        width: 2em;
        height: 1.25em;
        background-color: var(--bs-form-check-bg);
        border-radius: 2em;
        background-image: var(--bs-form-radio-switch-bg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: background-position 0.15s ease-in-out;
        margin-left: -2.5em;
        print-color-adjust: exact;
        appearance: none;
        border: var(--bs-border-width) solid var(--bs-border-color);
        float: left;
        margin-top: 0.125em;
        vertical-align: top;
    }
}

.form-radio-switch-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.form-radio-switch:has(.form-radio-switch-input:focus) {
    --bs-form-radio-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb%28134, 182.5, 254%29'/%3e%3c/svg%3e");
}

.form-radio-switch:has(.form-radio-switch-input-active:checked) {
    --bs-form-radio-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

    .form-radio-switch-input-disabled {
        z-index: 5;
    }

    &::before {
        background-position: right center;
        border-color: #0d6efd;
        background-color: #0d6efd;
    }
}

.form-radio-switch:has(.form-radio-switch-input-disabled:checked) {
    .form-radio-switch-input-active {
        z-index: 5;
    }
}
