.submit-loader {
    position: relative;
}

.submit-loader-hidden {
    transition: opacity .15s linear;
}

.submit-loader-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s linear;

    .spinner-border {
        --bs-spinner-width: 1.75rem;
        --bs-spinner-height: 1.75rem;
        --bs-spinner-border-width: .2rem;

        color: inherit;

        &-sm {
            --bs-spinner-width: 1.25rem;
            --bs-spinner-height: 1.25rem;
            --bs-spinner-border-width: .2rem;
        }

        &-lg {
            --bs-spinner-width: 2.25rem;
            --bs-spinner-height: 2.25rem;
            --bs-spinner-border-width: .25rem;
        }
    }
}

.submit-loader.btn-sm .submit-loader-spinner .spinner-border {
    --bs-spinner-width: 1.25rem;
    --bs-spinner-height: 1.25rem;
    --bs-spinner-border-width: .2rem;
}

.sending .submit-loader,
.submit-loader.sending {
    color: transparent !important;
    pointer-events: none;

    .submit-loader-spinner {;
        opacity: 1;
        visibility: visible;
        transition-delay: .15s;
    }
}

.sending .submit-loader-fade {
    opacity: .25;
    pointer-events: none;
}
