.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: var(--bs-secondary);
    transition: opacity .3s linear;

    &:not(.active) {
        opacity: 0;
        pointer-events: none;
    }
}

.preloader-spinner {
    --spinner-color: var(--bs-white);

    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--spinner-color) 94%, #0000) top / 6px 6px no-repeat, conic-gradient(#0000 30%, var(--spinner-color));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}
