@use '../functions/range';

.project-hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: calc(var(--header-height) + 20px) 0 range.build(40, 84);
    position: relative;
    overflow: hidden;
}

.project-gallery-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-black-rgb), .4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        pointer-events: none;
    }

    .swiper-wrapper {
        height: 100% !important;
    }

    .swiper-slide {
        height: 100%;
    }

    .swiper-navbar-container {
        width: calc(100% - var(--gap-container) * 2);
        position: absolute;
        left: 50%;
        bottom: range.build(30, 50);
        translate: -50% 0;
        z-index: 10;

        @media (min-width: 768px) {
            max-width: var(--width-max);
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        translate: 0 -50%;

        @media (min-width: 1240px) {
            width: 60px;
        }

        &:hover {
            background-color: rgba(var(--color-white-rgb), .25);
        }
    }

    .swiper-pagination {
        &-bullet {
            background-color: var(--color-white);
        }
    }

    .img-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        object-position: center;
    }
}

.project-hero-icon {
    --icon-size: 290px;
    --icon-color: var(--color-white);

    display: none;
    position: absolute;
    bottom: 0;
    right: 5%;
    opacity: .5;
    pointer-events: none;
    translate: 0 22%;
    z-index: 2;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 992px) {
        --icon-size: #{range.build(290, 400, px, 992, 1240)};
    }

    @media (min-width: 1240px) {
        --icon-size: #{range.build(400, 460, px, 1240, 1440)};
    }

    @media (min-width: 1440px) {
        --icon-size: #{range.build(460, 520, px, 1440, 1680)};
    }

    @media (min-width: 1680px) {
        --icon-size: #{range.build(520, 630, px, 1440)};
    }
}

.project-hero-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: range.build(40, 70);
    position: relative;
    z-index: 5;
    pointer-events: none;
}

.project-hero-body {
    display: flex;
    flex-direction: column;
    gap: 30px range.build(30, 126, px, 768);
    padding-bottom: range.build(20, 35);
    margin: auto auto auto 0;

    @media (min-width: 768px) {
        max-width: max(50%, 350px);
    }
}

.project-hero-breadcrumbs {
    pointer-events: auto;
}

.project-title {
    font-size: range.build(28, 46);
    line-height: 1.3;
    grid-area: title;

    @media (min-width: 768px) {
        font-size: range.build(24, 46, px, 768);
    }
}

.project-hero-info {
    font-size: range.build(14, 16);
    position: relative;
    grid-area: info;
}

.project-content {
    margin-top: range.build(60, 80);
}

.project-content-container {
    display: flex;
    flex-direction: column;
    gap: range.build(40, 60, px, 992);
}

.project-description {
    font-size: range.build(16, 18);

    h2,
    h3,
    h4,
    h5,
    h6,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: #8E8E93;
    }
}

.project-files {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    gap: 14px;
}

.project-file {
    display: flex;
    align-items: center;
    gap: range.build(20, 34);
    background-color: var(--color-white);
    border-radius: var(--radius);
    font-size: range.build(16, 22, px, 1300);
    padding: 1.27em 1.36em 1.27em range.build(20, 44, px, 1300);
    box-shadow: 0 .36em 1.36em 0 rgba(var(--color-dark-rgb), .1);
    color: inherit;
    transition: var(--transition);
    transition-property: color;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    line-height: 1.2;

    &:hover {
        color: var(--color-secondary);
    }

    &::after {
        display: block;
        content: '';
        width: 1em;
        aspect-ratio: 1;
        background: var(--color-secondary-medium);
        mask-image: var(--icon-download);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &-name {
        flex: 1 0 0;
    }

    &-size {
        font-size: range.build(14, 16);
    }
}

.project-property-details {
    display: flex;
    flex-direction: column;
    gap: range.build(16, 30);
    margin-bottom: 60px;

    @media (min-width: 992px) {
        width: 320px;
        float: right;
        margin: 0 0 40px 80px;

        &+*:not(:first-child) {
            margin-top: 0;
        }
    }

    @media (min-width: 1240px) {
        width: 370px;
        margin: 0 0 60px 100px;
    }

    @media (min-width: 1440px) {
        width: 400px;
    }

    @media (min-width: 1680px) {
        width: 478px;
        margin: 0 0 60px 220px;
    }

    &-item {
        span:not(.h2) {
            text-transform: uppercase;
        }
    }
}

.other-projects {
    --container-pt: #{range.build(60, 90)};

    display: flex;
    flex-direction: column;
    gap: range.build(40, 54);

    .project-simple-card {
        gap: 16px;
        text-align: center;

        @media (min-width: 768px) {
            &:nth-child(2) {
                margin-top: 20%;
            }

            &:nth-child(4) {
                display: none;
            }
        }

        &-image {
            width: 100%;
            border-radius: 0;
            aspect-ratio: 1 / .66;
            position: relative;
            z-index: 2;
        }

        &-title {
            position: relative;
            padding-top: 1em;
            margin-top: 0.5em;

            &::before {
                display: block;
                content: '';
                width: 1px;
                height: 80px;
                position: absolute;
                left: calc(50% - .5px);
                bottom: 100%;
                background-color: var(--color-gold);
            }
        }

        &-tags {
            justify-content: center;
        }
    }
}

.other-projects-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px 20px;
    text-align: center;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-areas: '. title link';
    }

    .home-portfolio-link {
        grid-area: link;
    }
}

.other-projects-title {
    flex: 1 0 0;
    grid-area: title;
    font-size: 26px;
    font-weight: bold;

    @media (min-width: 992px) {
        font-size: 28px;
    }

    @media (min-width: 1240px) {
        font-size: 30px;
    }

    @media (min-width: 1440px) {
        font-size: 32px;
    }

    @media (min-width: 1680px) {
        font-size: 36px;
    }
}