@use '../functions/range';

.service-head {
    --col-gap-x: #{range.build(26, 60, px, 992)};
    --col-gap-y: 30px;

    display: flex;
    flex-direction: column;
    gap: var(--col-gap-y) var(--col-gap-x);
    text-align: left;

    @media (min-width: 992px) {
        flex-direction: row;
        text-align: left;
    }

    &-title {
        @media (min-width: 992px) {
            max-width: calc(50% - var(--col-gap-x) / 2);
            align-self: center;
        }
    }

    &-description {
        text-align: left;

        @media (min-width: 992px) {
            flex: 1 0 0;
            padding-top: 10px;
        }
    }
}

.service-main-picture {
    margin-top: 30px;
}

.service-info {
    --container-py: #{range.build(60, 80)};

    display: flex;
    flex-direction: column;
    gap: range.build(30, 54) range.build(26, 68, px, 992);

    @media (min-width: 992px) {
        flex-direction: row;
    }

    &-title {
        font-weight: normal;
        line-height: 1.2;

        @media (min-width: 992px) {
            width: range.build(280, 420, px, 992);
        }
    }
}

.service-info-list {
    @media (min-width: 992px) {
        flex: 1 0 0;
    }
}

.service-info-card {
    border-bottom: 1px solid var(--color-gray-medium);
    transition: var(--transition);
    transition-property: border-color;

    &-head {
        display: flex;
        align-items: center;
        gap: range.build(20, 40);
        position: relative;
        font-size: range.build(20, 26);
        line-height: 1.2;
        color: var(--color-secondary-large);
        font-weight: normal;
        padding: range.build(20, 28) 0;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: range.build(44, 68);
            aspect-ratio: 1;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid var(--color-secondary-medium);
            transition: var(--transition);
            transition-property: background-color;

            &::before {
                display: block;
                content: '';
                width: 12px;
                aspect-ratio: 1;
                background-color: var(--color-secondary-large);
                mask-image: var(--icon-check);
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                transition: var(--transition);
                transition-property: background-color;
            }
        }
    }

    &-title {
        flex: 1 0 0;
        position: relative;
        padding-right: 12px;
        color: var(--color-secondary-large);
        transition: var(--transition);
        transition-property: color;

        &::after {
            display: inline-block;
            content: '';
            width: 12px;
            aspect-ratio: 1;
            vertical-align: middle;
            background-color: var(--color-dark);
            mask-image: var(--icon-down-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            margin-left: -12px;
            translate: 24px 0;
            transition: var(--transition);
            transition-property: rotate;
        }
    }

    &-description {
        padding-bottom: range.build(24, 36);
        font-size: range.build(16, 18);
    }

    &:first-child {
        .service-info-card {
            &-head {
                padding-top: 0;
            }
        }
    }

    &-head:hover {
        .service-info-card {
            &-title {
                color: var(--color-secondary-medium);
            }
        }
    }

    &.is-active {
        .service-info-card {
            &-head {
                &-icon {
                    background-color: var(--color-secondary-medium);

                    &::before {
                        background-color: var(--color-gold);
                    }
                }
            }

            &-title {
                &::after {
                    rotate: 180deg;
                }
            }
        }
    }
}

.service-more-info {
    --container-pt: #{range.build(50, 80)};
    --container-pb: 30px;

    &-title {
        font-weight: normal;

        @media (min-width: 768px) {
            max-width: 11em;
        }
    }
}

.service-more-info-body {
    display: flex;
    flex-direction: column;
    margin-top: range.build(30, 70);
    gap: 40px range.build(26, 80, px, 768);

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.service-more-info-links {
    font-size: range.build(18, 26);
    line-height: 1.2;

    @media (min-width: 768px) {
        flex: 1 0 0;
    }

    a {
        display: block;
        position: relative;
        color: inherit;
        text-decoration: none;
        padding: 1.46em 0 1.46em 2.23em;
        border-bottom: 1px solid var(--color-gray-medium);
        transition: var(--transition);
        transition-property: color;

        &:first-child {
            margin-top: -1.46em;
        }

        &::before {
            display: block;
            content: '';
            width: range.build(12, 16);
            aspect-ratio: 1;
            vertical-align: middle;
            background-color: var(--color-secondary-large);
            mask-image: var(--icon-corner-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            position: absolute;
            top: 50%;
            left: 0;
            translate: 0% -45%;
            transition: var(--transition);
            transition-property: rotate, background-color;
        }

        &:hover {
            color: var(--color-secondary);

            &::before {
                background-color: var(--color-secondary);
                rotate: 45deg;
            }
        }
    }
}

.service-more-info-image {
    border-radius: var(--radius);

    @media (min-width: 768px) {
        width: range.build(260, 352, px, 768);
        aspect-ratio: 1 / 1.119;
    }
}
