@use '../functions/range';

.home-hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    padding: calc(var(--header-height) + 50px) 0 50px;
    color: var(--color-white);

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(var(--color-black-rgb), 0.75) 0%, rgba(var(--color-black-rgb), 0) 75%);

        @media (max-width: 991px) {
            background: rgba(var(--color-black-rgb), 0.5);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: auto;
        z-index: 5;
        gap: 60px 0;

        @media (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        font-size: range.build(44, 68, px, 375, 992);
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -0.02em;

        @media (min-width: 992px) {
            width: 14em;
            font-size: range.build(60, 84, px, 992);
        }
    }
}

.home-hero-body {
    display: flex;
    align-items: flex-start;
    gap: 16px 20px;

    @media (min-width: 992px) {
        max-width: range.build(500, 670, px, 992);
    }
}

.home-hero-logo {
    width: 80px;
}

.home-hero-description {
    flex: 1 0 0;
    align-self: center;

    h2, h3, h4, h4, h6 {
        line-height: 1.1;
    }

    h2 {
        font-size: range.build(20, 36);
    }
}

.home-portfolio {
    background-color: var(--color-white);
    padding: range.build(40, 78) 0 range.build(30, 60);
}

.home-portfolio-container {
    display: flex;
    flex-direction: column;
    gap: range.build(40, 64);
}

.home-portfolio-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    font-size: range.build(16, 20);

    @media (min-width: 768px) {
        display: grid;
        align-items: flex-end;
        grid-template-columns: 12ch 1fr 12ch;
    }
}

.home-portfolio-subtitle {
    color: var(--color-gray);
}

.home-portfolio-title {
    text-align: center;
}

.home-portfolio-link {
    justify-self: flex-end;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    gap: .75em;
    transition: var(--transition);
    transition-property: color;
    margin-top: .5em;
    color: var(--color-primary);

    @media (min-width: 768px) {
        margin-top: 0;
    }

    &:hover {
        color: var(--color-secondary);
    }

    &::before,
    &::after {
        display: block;
        content: '';
        width: 2em;
        height: range.build(1, 2);
        background-color: var(--color-primary);
    }

    &::before {
        @media (min-width: 768px) {
            display: none;
        }
    }
}
