@use '../functions/range';

.inner-page {
    .news {
        padding: 0;
        margin-top: range.build(40, 50);

        &-container {
            gap: range.build(40, 50);
        }
    }
}

.news-page-head {
    position: relative;
}

.news-page-head-icon {
    --icon-size: #{range.build(310, 406)};
    --icon-color: var(--color-primary);

    position: absolute;
    top: -60px;
    right: range.build(32, 70);
    opacity: .2;
    pointer-events: none;
    z-index: -1;
}
