@use '../functions/range';

.project-hero {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: calc(var(--header-height) + 20px) 0 0;
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: range.build(40, 84, px, 768);
    }
}

.project-hero-icon {
    --icon-size: #{range.build(260, 724)};
    --icon-color: var(--color-secondary);

    position: absolute;
    top: var(--header-height);
    right: 5%;
    opacity: .25;
    pointer-events: none;
}

.project-hero-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: range.build(40, 70);
    position: relative;
    z-index: 5;
}

.project-hero-body {
    display: flex;
    flex-direction: column;
    gap: 30px range.build(30, 126, px, 768);

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            'title image'
            'info image';
        grid-template-rows: 1fr auto;
    }
}

.project-title {
    font-size: range.build(28, 46);
    line-height: 1.3;
    grid-area: title;

    @media (min-width: 768px) {
        font-size: range.build(24, 46, px, 768);
    }
}

.project-hero-info {
    font-size: range.build(14, 16);
    padding: range.build(24, 36) 0;
    position: relative;
    grid-area: info;
    margin-top: 6px;

    @media (min-width: 768px) {
        padding: range.build(18, 36, px, 768) 0;
        margin-top: 0;
    }

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: range.build(2, 4);
        background: var(--line-gradient);
        position: absolute;
        left: 0;
        bottom: 100%;

        @media (min-width: 768px) {
            height: range.build(2, 4, px, 768);
        }
    }
}

.project-hero-image {
    align-self: flex-start;
    border-radius: var(--radius);
    aspect-ratio: 1 / 0.668;
    grid-area: image;
}

.project-content {
    margin-top: range.build(60, 80);
}

.project-content-container {
    display: flex;
    flex-direction: column;
    gap: 60px range.build(30, 70, px, 992);
    position: relative;

    @media (min-width: 992px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.project-description {
    font-size: range.build(16, 18);
}
