@use '../functions/range';

.project-hero {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: calc(var(--header-height) + 20px) 0 0;
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: range.build(40, 84, px, 768);
    }
}

.project-hero-icon {
    --icon-size: #{range.build(260, 724)};
    --icon-color: var(--color-secondary);

    position: absolute;
    top: var(--header-height);
    right: 5%;
    opacity: .25;
    pointer-events: none;
}

.project-hero-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: range.build(40, 70);
    position: relative;
    z-index: 5;
}

.project-hero-body {
    display: flex;
    flex-direction: column;
    gap: 30px range.build(30, 126, px, 768);

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            'title image'
            'info image';
        grid-template-rows: 1fr auto;
    }
}

.project-title {
    font-size: range.build(28, 46);
    line-height: 1.3;
    grid-area: title;

    @media (min-width: 768px) {
        font-size: range.build(24, 46, px, 768);
    }
}

.project-hero-info {
    font-size: range.build(14, 16);
    padding: range.build(24, 36) 0;
    position: relative;
    grid-area: info;
    margin-top: 6px;

    @media (min-width: 768px) {
        padding: range.build(18, 36, px, 768) 0;
        margin-top: 0;
    }

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: range.build(2, 4);
        background: var(--line-gradient);
        position: absolute;
        left: 0;
        bottom: 100%;

        @media (min-width: 768px) {
            height: range.build(2, 4, px, 768);
        }
    }
}

.project-hero-image {
    width: 100%;
    align-self: flex-start;
    border-radius: var(--radius);
    aspect-ratio: 1 / 0.668;
    grid-area: image;
}

.project-content {
    margin-top: range.build(60, 80);
}

.project-content-container {
    display: flex;
    flex-direction: column;
    gap: range.build(40, 60, px, 992);
}

.project-description {
    font-size: range.build(16, 18);
}

.project-files {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    gap: 14px;
}

.project-file {
    display: flex;
    align-items: center;
    gap: range.build(20, 34);
    background-color: var(--color-white);
    border-radius: var(--radius);
    font-size: range.build(16, 22, px, 1300);
    padding: 1.27em 1.36em 1.27em range.build(20, 44, px, 1300);
    box-shadow: 0 .36em 1.36em 0 rgba(var(--color-dark-rgb), .1);
    color: inherit;
    transition: var(--transition);
    transition-property: color;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    line-height: 1.2;

    &:hover {
        color: var(--color-secondary);
    }

    &::after {
        display: block;
        content: '';
        width: 1em;
        aspect-ratio: 1;
        background: var(--color-secondary-medium);
        mask-image: var(--icon-download);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &-name {
        flex: 1 0 0;
    }

    &-size {
        font-size: range.build(14, 16);
    }
}

.other-projects {
    --container-pt: #{range.build(60, 90)};
    --container-pb: 20px;

    display: flex;
    flex-direction: column;
    gap: range.build(40, 54);

    .project-simple-card:nth-child(4) {
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.other-projects-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px 20px;
    text-align: center;

    @media (min-width: 768px) {
        flex-direction: row;
        text-align: left;
    }
}

.other-projects-title {
    font-size: range.build(32, 50);
    flex: 1 0 0;
}
