@use '../functions/range';

.portfolio-page-head {
    position: relative;
}

.portfolio-page-head-icon {
    --icon-size: #{range.build(310, 406)};
    --icon-color: var(--color-secondary);

    position: absolute;
    top: -60px;
    right: 0;
    opacity: .2;
    pointer-events: none;
    z-index: -1;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 100%);
}

.portfolio {
    padding-top: range.build(30, 50);
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: range.build(50, 60);
}

.portfolio-projects-cards,
.portfolio-projects-simple-cards {
    --col-count: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    gap: range.build(20, 78, px, 992);

    @media (min-width: 600px) {
        --col-count: 2;

        gap: range.build(20, 60, px, 600, 992);
    }

    @media (min-width: 992px) {
        --col-count: 3;
    }
}

.portfolio-projects-simple-cards {
    --gap-x: 20px;
    --gap-y: 60px;

    gap: var(--gap-y) var(--gap-x);

    @media (min-width: 600px) {
        --col-count: 2;
        --gap-y: 50px;
        --gap-x: #{range.build(20, 60, px, 600, 768)};
    }

    @media (min-width: 768px) {
        --col-count: 3;
        --gap-x: 30px;
    }

    @media (min-width: 992px) {
        --col-count: 3;
        --gap-x: 60px;
    }

    @media (min-width: 1440px) {
        --gap-x: 80px;
        --gap-y: 70px;
    }

    @media (min-width: 1680px) {
        --gap-x: 100px;
    }
}

.project-card {
    aspect-ratio: 1 / 1.2;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
    transition: var(--transition);
    transition-property: translate;

    @media (min-width: 600px) {
        aspect-ratio: 1 / 1.4;
    }

    &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(210deg, rgba(var(--color-black-rgb), 0) 30%, rgba(var(--color-black-rgb), .75) 100%);
    }

    &-content {
        --content-px: #{range.build(20, 40)};
        --content-py: #{range.build(20, 32)};
        --content-gap: 20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: var(--content-py) var(--content-px);
        z-index: 5;
        transition: var(--transition);
        transition-property: background-color, padding-bottom;
        color: var(--color-white);
        gap: var(--content-gap);
    }

    &-description {
        max-width: 450px;
        max-height: 0;
        font-size: range.build(14, 16);
        overflow: hidden;
        transition: var(--transition);
        transition-property: max-height, opacity, visibility, margin-bottom;
        opacity: 0;
        visibility: hidden;
        margin-bottom: calc(var(--content-gap) * -1);

        @media (min-width: 992px) {
            font-size: range.build(14, 16, px, 992);
        }
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: range.build(12, 14);
            line-height: 1.2;
            padding: .55em 1.25em;
            border: 1px solid rgba(var(--color-white-rgb), .1);
            border-radius: 5em;
            background-color: rgba(var(--color-black-rgb), .1);
            backdrop-filter: blur(10px);
            transition: var(--transition);
            transition-property: background-color, border-color;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: range.build(50, 100);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--color-secondary);
        text-decoration: none;
        color: var(--color-gold);
        position: absolute;
        top: var(--content-py);
        right: var(--content-px);
        transition: var(--transition);
        transition-property: opacity, visibility, scale;
        opacity: 0;
        visibility: hidden;
        scale: 0;

        @media (min-width: 992px) {
            width: range.build(60, 100, px, 992);
        }

        &::before {
            display: block;
            content: '';
            width: 12px;
            aspect-ratio: 1;
            background-color: var(--color-white);
            mask-image: var(--icon-corner-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            rotate: 45deg;
            transition: var(--transition);
            transition-property: background-color;
        }

        &:hover {
            &::before {
                background-color: var(--color-gold);
            }
        }
    }

    &:hover {
        translate: 0% calc(range.build(20, 78, px, 992) / -2);

        .project-card {
            &-content {
                background-color: rgba(var(--color-primary-rgb), .8);
            }

            &-description {
                max-height: calc(1em * 1.6 * 5);
                opacity: 1;
                visibility: visible;
                margin-bottom: 0;
            }

            &-tags {
                p {
                    background-color: var(--color-secondary-medium);
                    border-color: var(--color-secondary-medium);
                }
            }

            &-link {
                opacity: 1;
                visibility: visible;
                scale: 1;
            }
        }
    }
}

.project-simple-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 26px;

    @media (max-width: 599px) {
        max-width: 440px;
        margin: 0 auto;
    }

    &-image {
        aspect-ratio: 1 / 1.2;
        border-radius: var(--radius);
    }

    &-title {
        font-size: range.build(20, 22, px, 375, 600);
        margin-top: .25em;
        line-height: 1.2em;
        transition: var(--transition);
        transition-property: color;

        @media (min-width: 600px) {
            font-size: range.build(18, 20, px, 600, 768);
        }

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 18px;
        }

        @media (min-width: 992px) {
            font-size: range.build(18, 22, px, 992);
        }
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: range.build(12, 14);
            line-height: 1.2;
            padding: .55em 1.25em;
            border: 1px solid var(--color-gray-medium);
            border-radius: 5em;
            backdrop-filter: blur(10px);
            transition: var(--transition);
            transition-property: background-color, border-color;
        }
    }

    &-info {
        font-size: 12px;
        line-height: 1.6;
        color: var(--color-gray);
        margin-top: -.5em;

        p {
            display: inline;
        }

        &-dot {
            display: inline-block;
            margin: 0 .5em .125em;
            vertical-align: middle;
            width: 4px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--color-gray);
            opacity: 0.75;
        }
    }

    &-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    &:hover {
        .project-simple-card {
            &-title {
                color: var(--color-secondary-medium);
            }
        }
    }
}

.portfolio-projects-scaled-cards {
    --gap-y: 60px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-y) 0;

    @media (min-width: 768px) {
        --gap-y: 40px;

        flex-direction: row;
        flex-wrap: wrap;
    }
}

.project-scaled-card {
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
        width: 42%;
        margin: 0 auto;

        &:nth-child(4n + 2) {
            width: 36%;
            margin: 6% auto 0 auto;
        }

        &:nth-child(4n + 3) {
            width: 28%;
            margin: calc(4% - var(--gap-y)) auto 0 14%;
        }

        &:nth-child(4n + 4) {
            margin: calc(10% - var(--gap-y)) auto 0 auto;
        }
    }

    &-picture {
        display: block;
        overflow: hidden;
    }

    &-image {
        width: 100%;
        aspect-ratio: 1 / .668;
        transition: var(--transition);
        transition-property: scale;
    }

    &-title {
        text-transform: uppercase;
        font-size: range.build(14, 18);
        margin-top: 1em;
        line-height: 1.3;
        transition: var(--transition);
        transition-property: color;

        @media (min-width: 768px) {
            font-size: range.build(14, 18, px, 768);
            margin-top: 1.25em;
        }
    }

    &-info {
        font-size: 12px;
        line-height: 1.6;
        color: var(--color-gray);
        margin-top: .5em;

        p {
            display: inline;
        }

        &-dot {
            display: inline-block;
            margin: 0 .5em .125em;
            vertical-align: middle;
            width: 4px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--color-gray);
            opacity: 0.75;
        }
    }

    &-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        .project-scaled-card {
            &-image {
                scale: 1.05;
            }

            &-title {
                color: var(--color-primary);
            }
        }
    }
}