body {
    min-width: 320px;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'sidebar header' 'sidebar main';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}
aside {
    grid-area: sidebar;
}

header {
    height: var(--header-height);
    grid-area: header;
    position: relative;
    z-index: 10;

    &:has(~ main .main-panel) {
        box-shadow: none !important;
    }
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    grid-area: main;
    overflow: hidden;
}

.main-panel {
    z-index: 5;
}

.flex-scroll {
    flex: 1 0 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.flex-auto {
    flex: 1 0 0;
}

.img {
    &-cover,
    &-contain {
        display: block;
        width: 100%;
        height: 100%;
    }

    &-cover {
        object-fit: cover
    }

    &-contain {
        object-fit: contain;
    }
}

.bg-img {
    &-cover,
    &-contain {
        background-repeat: no-repeat;
        background-position: center;
    }

    &-cover {
        background-size: cover;
    }

    &-contain {
        background-size: contain;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}

p:last-child {
    margin-bottom: 0;
}

.dropzone {
    transition: all .15s ease-in-out;
}

.hover-content {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

    @media (pointer: coarse) or (hover: none) {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.hover-container {
    position: relative;

    &:hover .hover-content {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

* {
    @media (hover: hover) {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(#000, 0.44);
            border-radius: 4px;
            box-shadow: none;
            border: 2px solid transparent;
        }
    }
}

@-moz-document url-prefix() {
    * {
        @media (hover: hover) {
            scrollbar-width: thin;
            scrollbar-color: rgba(#000, 0.44) transparent;
        }
    }
}
