@use '../functions/range';

.contact-section-content {
    display: flex;
    flex-direction: column;
    gap: 40px 30px;
    padding: range.build(30, 60) range.build(20, 60);
    background-color: var(--color-primary-medium);
    border-radius: range.build(12, 26);
    position: relative;
    overflow: hidden;

    &>* {
        position: relative;
        z-index: 5;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        padding: range.build(40, 60, px, 992) range.build(30, 60, px, 992);
    }
}

.contact-section-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color-white);
    text-shadow: 0 2px 2px rgba(var(--color-black-rgb), .17);

    @media (min-width: 992px) {
        flex: 1 0 0;
        margin-right: auto;
    }

    @media (min-width: 1240px) {
        max-width: 480px;
    }

    @media (min-width: 1440px) {
        max-width: 580px;
    }
}

.contact-section-head {
    display: flex;
    flex-direction: column;
    gap: range.build(16, 22);
}

.contact-section-title {
    font-size: range.build(34, 50);
    line-height: 1.2;
    letter-spacing: -0.01em;

    @media (min-width: 992px) {
        font-size: 60px;
        line-height: 1.1;
    }

    @media (min-width: 1240px) {
        font-size: 66px;
    }

    @media (min-width: 1440px) {
        font-size: 60px;
    }

    @media (min-width: 1680px) {
        font-size: 70px;
    }
}

.contact-section-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: range.build(14, 36);
    line-height: 1.2;
    position: relative;
    padding-bottom: 18px;

    @media (min-width: 992px) {
        font-size: 22px;
        margin-top: auto;
        padding-top: range.build(10, 30);
    }

    @media (min-width: 1240px) {
        font-size: 23px;
    }

    @media (min-width: 1440px) {
        font-size: 28px;
    }

    .base-link {
        text-decoration: none;
    }

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: range.build(2, 4);
        background: linear-gradient(to right, rgba(var(--color-primary-light-rgb), .5) 5%, var(--color-white) 20%, rgba(var(--color-green-rgb), .75) 75%, var(--color-white) 100%);
        ;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.contact-section-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: var(--radius);
    background-color: var(--color-white);
    padding: range.build(24, 40) range.build(20, 50);
    align-self: flex-start;

    @media (min-width: 992px) {
        width: 400px;
        padding: range.build(30, 40, px, 992) range.build(30, 50, px, 992);
    }

    @media (min-width: 1440px) {
        width: 450px;
    }

    @media (min-width: 1680px) {
        width: 560px;
    }
}

.contact-section-form-head {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.contact-section-form-title {
    //max-width: 8em;
    margin-right: auto;
    font-size: range.build(20, 36);
    color: var(--color-primary);

    @media (min-width: 768px) {
        font-size: range.build(24, 36, px, 768);
    }

    @media (min-width: 1240px) {
        font-size: 28px;
    }

    @media (min-width: 1440px) {
        font-size: 32px;
    }

    @media (min-width: 1680px) {
        font-size: 36px;
    }
}

.contact-section-form-avatar {
    display: flex;
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 6px;
        aspect-ratio: 1;
        background-color: var(--color-secondary);
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    img {
        --image-size: #{range.build(40, 62)};

        width: var(--image-size);
        border-radius: 50%;
        position: relative;

        @media (min-width: 768px) {
            --image-size: #{range.build(50, 62, px, 768)};
        }

        &:first-child {
            z-index: 2;
            box-shadow: 0 0 0 2px var(--color-white);
        }

        &:not(:first-child) {
            margin-left: calc(var(--image-size) * -0.25);
        }
    }
}