@use '../functions/range';

.contact-section-content {
    display: flex;
    flex-direction: column;
    gap: 40px 30px;
    padding: range.build(40, 80) range.build(20, 100);
    background-color: var(--color-primary-medium);
    border-radius: range.build(12, 26);

    @media (min-width: 768px) {
        flex-direction: row;
        padding: range.build(40, 80, px, 768) range.build(20, 100, px, 768);
    }
}

.contact-section-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color-white);

    @media (min-width: 768px) {
        flex: 0 1 0;
        margin-right: auto;
    }
}

.contact-section-head {
    display: flex;
    flex-direction: column;
    gap: range.build(16, 22);

    @media (min-width: 768px) {
        max-width: 456px;
    }
}

.contact-section-title {
    font-size: range.build(34, 50);
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: normal;

    @media (min-width: 768px) {
        font-size: range.build(30, 80, px, 768);
        line-height: 1.1;
    }
}

.contact-section-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    font-size: range.build(20, 36);
    line-height: 1.2;
    position: relative;
    padding-bottom: 10px;

    @media (min-width: 768px) {
        font-size: range.build(18, 36, px, 768);
    }

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: range.build(2, 4);
        background: var(--line-gradient);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.contact-section-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: var(--radius);
    background-color: var(--color-white);
    padding: range.build(24, 40) range.build(20, 50);

    @media (min-width: 768px) {
        width: range.build(356, 560, px, 768);
        padding: range.build(24, 40, px, 768) range.build(20, 50, px, 768);
    }
}

.contact-section-form-head {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.contact-section-form-title {
    max-width: 8em;
    margin-right: auto;
    font-weight: normal;
    font-size: range.build(20, 36);

    @media (min-width: 768px) {
        font-size: range.build(24, 36, px, 768);
    }
}

.contact-section-form-avatar {
    display: flex;
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 6px;
        aspect-ratio: 1;
        background-color: var(--color-primary);
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    img {
        --image-size: #{range.build(40, 62)};

        width: var(--image-size);
        border-radius: 50%;
        position: relative;

        @media (min-width: 768px) {
            --image-size: #{range.build(50, 62, px, 768)};
        }

        &:first-child {
            z-index: 2;
            box-shadow: 0 0 0 2px var(--color-white);
        }

        &:not(:first-child) {
            margin-left: calc(var(--image-size) * -0.25);
        }
    }
}

.contact-section-form-body {
    .form-fields-row {
        @media (min-width: 768px) and (max-width: 991px) {
            --col-count: 1;
        }
    }
}
