@use '../functions/range';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    color: var(--color-white);
    transition: var(--transition);
    transition-property: background-color, box-shadow;
    padding-right: var(--f-scrollbar-compensate, 0);

    &-container {
        transition: var(--transition);
        transition-property: padding;
    }

    &-contact-btn {
        white-space: nowrap;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 1439px) {
        font-size: 15px;
    }
}

.home-page,
.post-page {
    .header {
        &::before {
            display: block;
            content: '';
            width: 100%;
            height: 140%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(to top, rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-black-rgb), .35) 100%);
            mask-image: linear-gradient(to top, rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-black-rgb), 1) 40%);
            transition: var(--transition);
            transition-property: opacity, visibility;
            backdrop-filter: blur(10px);
        }
    }
}

.header-logo {
    --logo-size: #{range.build(160, 240)};

    margin-right: auto;
    position: relative;
    translate: 0 -14%;

    @media (max-width: 1599px) {
        --logo-size: 180px;
    }

    @media (max-width: 1439px) {
        --logo-size: 170px;
    }

    @media (max-width: 767px) {
        --logo-size: 140px;
    }

    &:hover {
        color: var(--color-primary);
    }
}

.inner-page {
    .header {
        color: var(--color-dark);

        &-logo {
            &:hover {
                color: var(--color-primary);
            }
        }

        .header-contact-btn {
            --btn-color: var(--color-dark);
            --btn-color-border: var(--color-dark);

            // &::after {
            //     background-color: var(--color-primary);
            // }

            &:hover {
                --btn-color: var(--color-white);
                --btn-color-bg: var(--color-primary);
                --btn-color-border: var(--color-primary);
            }
        }

        .lang {
            &::before {
                border-color: var(--color-dark);
            }
        }

        .main-menu-toggle-button {
            --btn-color: var(--color-dark);

            span {

                &::before,
                &::after {
                    background-color: var(--color-dark);
                }
            }
        }
    }
}

.post-page {
    .header {
        &-logo {
            color: var(--color-gold);

            &:hover {
                color: var(--color-white);
            }
        }

        &::before {
            backdrop-filter: none;
        }
    }
}

.is-page-scrolled .header {
    background-color: rgba(var(--color-white-rgb), .8);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 0 1px rgba(var(--color-black-rgb), .05), 0 0 16px 0 rgba(var(--color-black-rgb), .1);
    color: var(--color-dark);

    &::before {
        opacity: 0;
        visibility: hidden;
    }

    &-logo {
        color: var(--color-dark);

        &:hover {
            color: var(--color-primary);
        }
    }

    .header-contact-btn {
        --btn-color: var(--color-dark);
        --btn-color-border: var(--color-dark);

        &:hover {
            --btn-color: var(--color-white);
            --btn-color-bg: var(--color-primary);
            --btn-color-border: var(--color-primary);
        }

        // &::before,
        // &::after {
        //     background: var(--color-dark);
        // }
    }

    .lang {
        &::before {
            border-color: var(--color-dark);
        }
    }

    .main-menu-toggle-button {
        --btn-color: var(--color-dark);

        span {

            &::before,
            &::after {
                background-color: var(--color-dark);
            }
        }
    }
}

.header-container {
    display: flex;
    align-items: center;
    gap: range.build(30, 46);
}

.main-menu {
    margin-right: calc(range.build(10, 23) * -1);

    @media (max-width: 1259px) {
        width: 260px;
        height: 100vh;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -280px;
        margin-right: 0;
        background-color: var(--color-white);
        box-shadow: 0 0 16px 0 rgba(var(--color-dark-rgb), .25);
        z-index: 10;
        padding-bottom: 20px;
        color: var(--color-dark);
        transition: var(--transition);
        transition-property: left;
    }
}

.is-opened-main-menu .main-menu {
    left: 0;
}

.main-menu-head {
    display: flex;
    align-items: center;
    height: var(--header-height);
    gap: 20px;
    padding: 0 var(--gap-container);
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 100%;
        box-shadow: 0 0 0 1px var(--color-gray-light);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    @media (min-width: 1260px) {
        display: none;
    }
}

.main-menu-logo {
    --logo-size: #{range.build(160, 240)};

    translate: 0 -14%;

    &:hover {
        color: var(--color-primary);
    }
}

.main-menu ul {
    display: flex;
    text-transform: uppercase;

    @media (max-width: 1259px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px var(--gap-container);
        gap: 16px;
        flex: 1 0 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    li {
        @media (max-width: 1259px) {
            &:first-child {
                margin-top: auto;
            }

            &:last-child {
                margin-bottom: auto;
            }
        }
    }

    a {
        display: block;
        padding: .25em range.build(10, 23);
        transition: var(--transition);
        transition-property: background-color;
        border-radius: 3em;

        &:hover,
        &.is-active {
            background-color: rgba(var(--color-black-rgb), .15);
        }

        @media (max-width: 1439px) {
            padding: .25em 1em;
        }

        @media (max-width: 1259px) {
            padding: .5em 0;
            transition-property: background-color, padding;

            &:hover,
            &.is-active {
                padding: .5em 1.25em;
            }
        }
    }
}

.header-contact-btn {
    --btn-size: 36px;
    --btn-color: var(--color-white);
    --btn-color-border: var(--color-white);
    --btn-border-size: 2px;
    --btn-fz: inherit;
    --btn-px: 1em;
    --btn-py: .5em;

    text-transform: uppercase;
    margin: 0 1.5em;
    z-index: 20;

    &:hover {
        --btn-color: var(--color-dark);
        --btn-color-bg: var(--color-white);
        --btn-color-border: var(--color-white);
    }

    @media (max-width: 1439px) {
        --btn-size: 26px;

        margin: 0 .5em;
    }

    @media (max-width: 767px) {
        display: none;
    }

    // &::before,
    // &::after {
    //     display: block;
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     background-color: var(--color-white);
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     transition: var(--transition);
    //     transition-property: opacity, visibility;
    // }

    // &::before {
    //     background: var(--line-gradient);
    // }

    // &::after {
    //     opacity: 0;
    //     visibility: hidden;
    // }

    &:hover {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.main-menu-toggle-button {
    --btn-color: var(--color-white);

    text-transform: uppercase;

    @media (max-width: 424px) {
        --btn-fz: 14px;
    }

    @media (min-width: 1260px) {
        display: none;
    }

    &::before {
        --pseudo-px: calc(var(--btn-size) * -.4);

        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: var(--pseudo-px);
        right: var(--pseudo-px);
        bottom: 0;
        border-radius: var(--btn-size);
        transition: var(--transition);
        transition-property: background-color;
        z-index: -1;
    }

    @media (max-width: 767px) {
        --btn-size: #{range.build(40, 50, px, 375, 768)};
    }

    &:hover::before {
        background-color: rgba(var(--color-black-rgb), .15);
    }

    span {
        display: block;
        padding-left: range.build(30, 36);
        position: relative;

        &::before,
        &::after {
            display: block;
            content: '';
            width: 18px;
            height: 2px;
            background-color: var(--color-white);
            position: absolute;
            top: 50%;
            left: 0;
            transition: var(--transition);
            transition-property: translate, rotate;
        }

        &::before {
            translate: 0 -5px;
        }

        &::after {
            translate: 0 3px;
        }
    }
}

.is-opened-main-menu .main-menu-toggle-button {
    &::before {
        background-color: rgba(var(--color-black-rgb), .15);
    }

    span {
        &::before {
            rotate: 45deg;
            translate: 0 -1px;
        }

        &::after {
            rotate: -45deg;
            translate: 0 -1px;
        }
    }
}