@use '../functions/range';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    color: var(--color-white);
    transition: var(--transition);
    transition-property: background-color, box-shadow;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.home-page {
    .header {
        &::before {
            display: block;
            content: '';
            width: 100%;
            height: 140%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(to top, rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-black-rgb), .35) 100%);
            mask-image: linear-gradient(to top, rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-black-rgb), 1) 40%);
            transition: var(--transition);
            transition-property: opacity, visibility;
            backdrop-filter: blur(10px);
        }
    }
}

.header-logo {
    margin-right: auto;
    position: relative;
    z-index: 20;

    &:hover {
        color: var(--color-primary);
    }
}

.inner-page {
    .header {
        color: var(--color-dark);

        &-logo {
            &:hover {
                color: var(--color-secondary);
            }
        }

        .header-contact-btn {
            --btn-color: var(--color-dark);

            &::after {
                background-color: var(--color-primary);
            }
        }

        .lang {
            &::before {
                border-color: var(--color-dark);
            }
        }

        .main-menu-toggle-button {
            --btn-color: var(--color-dark);

            span {
                &::before,
                &::after {
                    background-color: var(--color-dark);
                }
            }
        }
    }
}

.news-page {
    .header {
        &-logo {
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}

.is-page-scrolled .header {
    background-color: var(--color-primary);
    box-shadow: 0 0 16px 0 rgba(var(--color-black-rgb), .75);
    color: var(--color-white);

    &::before {
        opacity: 0;
        visibility: hidden;
    }

    &-logo {
        &:hover {
            color: var(--color-secondary);
        }
    }

    .header-contact-btn {
        --btn-color: var(--color-white);

        &::after {
            background-color: var(--color-white);
        }
    }

    /*.header-contact-btn {
        --btn-color: var(--color-white);
        --btn-color-border: var(--color-white);

        &:hover {
            --btn-color: var(--color-white);
            --btn-color-border: var(--color-primary);
        }
    }*/
}

.is-opened-extended-menu .header {
    padding-right: var(--compensate-scrollbar, 0);

    /*.header-contact-btn {
        --btn-color: var(--color-white);
        --btn-color-border: var(--color-primary);

        &:hover {
            --btn-color: var(--color-white);
            --btn-color-border: var(--color-primary);
        }
    }*/
}

.is-page-scrolled,
.is-opened-extended-menu {
    .header {
        color: var(--color-white);

        .lang {
            &::before {
                border-color: var(--color-white);
            }
        }

        .main-menu-toggle-button {
            --btn-color: var(--color-white);

            span {
                &::before,
                &::after {
                    background-color: var(--color-white);
                }
            }
        }
    }
}

.header-container {
    display: flex;
    align-items: center;
    gap: range.build(30, 46);
}

.header-main-menu {
    margin-right: calc(range.build(10, 23) * -1);

    @media (max-width: 1199px) {
        display: none;
    }
}

.main-menu ul {
    display: flex;
    text-transform: uppercase;
}

.main-menu a {
    display: block;
    padding: .5em range.build(10, 23);
    transition: var(--transition);
    transition-property: background-color;
    border-radius: 3em;

    &:hover,
    &.is-active {
        background-color: rgba(var(--color-black-rgb), .15);
    }
}

.header-contact-btn {
    --btn-size: 40px;
    --btn-color: var(--color-white);

    text-transform: uppercase;
    margin: 0 1.5em;
    z-index: 20;

    @media (max-width: 767px) {
        display: none;
    }

    &::before,
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: var(--transition);
        transition-property: opacity, visibility;
    }

    &::before {
        background: var(--line-gradient);
    }

    &::after {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

/*.header-contact-btn {
    z-index: 20;

    @media (max-width: 767px) {
        display: none;
    }
}*/

/*.is-opened-extended-menu .header-contact-btn {
    --btn-color-bg: var(--color-primary);
    --btn-color-border: var(--color-primary);
}*/

.main-menu-toggle-button,
.extended-menu-toggle-button {
    --btn-color: var(--color-white);

    text-transform: uppercase;
    z-index: 20;

    @media (max-width: 424px) {
        --btn-fz: 14px;
    }

    @media (min-width: 1200px) {
        display: none;
    }

    &::before {
        --pseudo-px: calc(var(--btn-size) * -.4);

        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: var(--pseudo-px);
        right: var(--pseudo-px);
        bottom: 0;
        border-radius: var(--btn-size);
        transition: var(--transition);
        transition-property: background-color;
        z-index: -1;
    }

    @media (max-width: 767px) {
        --btn-size: #{range.build(40, 50, px, 375, 768)};
    }

    &:hover::before {
        background-color: rgba(var(--color-black-rgb), .15);
    }

    span {
        display: block;
        padding-left: range.build(30, 36);
        position: relative;

        &::before,
        &::after {
            display: block;
            content: '';
            width: 18px;
            height: 2px;
            background-color: var(--color-white);
            position: absolute;
            top: 50%;
            left: 0;
            transition: var(--transition);
            transition-property: translate, rotate;
        }

        &::before {
            translate: 0 -5px;
        }

        &::after {
            translate: 0 3px;
        }
    }
}

.is-opened-extended-menu .extended-menu-toggle-button {
    &::before {
        background-color: rgba(var(--color-black-rgb), .15);
    }

    span {
        &::before {
            rotate: 45deg;
            translate: 0 -1px;
        }

        &::after {
            rotate: -45deg;
            translate: 0 -1px;
        }
    }
}

.extended-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary-medium);
    padding-top: var(--header-height);
    transition: all .3s linear;
    transition-property: translate, opacity, visibility;
    translate: 0 -100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    color: var(--color-white);
}

.is-opened-extended-menu .extended-menu {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.extended-menu-body {
    flex: 1 0 0;
    overflow: hidden;
    padding: 3vw 0 30px;
    transition: var(--transition);
    transition-property: opacity, translate;
    translate: 0 60px;
    opacity: 0;
}

.is-opened-extended-menu .extended-menu-body {
    overflow-y: scroll;
    padding-right: 0;
    translate: 0 0;
    opacity: 1;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
}

.extended-menu-row {
    --col-count: 1;
    --col-gap-x: 0;
    --col-gap-y: 40px;

    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    gap: var(--col-gap-y) var(--col-gap-x);

    @media (min-width: 768px) {
        --col-gap-x: #{range.build(30, 100, px, 768, 992)};
        --col-count: 2;
    }

    @media (min-width: 992px) {
        --col-count: 3;
        --col-gap-x: #{range.build(30, 164, px, 992)};
    }
}

.extended-menu-head {
    position: relative;
    padding-bottom: 2vw;
    margin-bottom: 2vw;

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: range.build(2, 4, px, 992);
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--line-gradient);
    }

    @media (max-width: 991px) {
        display: none;
    }
}

.extended-menu-title {
    font-size: range.build(24, 32);

    @media (min-width: 992px) {
        font-size: range.build(20, 32, px, 992);
    }
}

.extended-menu-col ul {
    display: flex;
    flex-direction: column;
    gap: range.build(20, 32);
}

.extended-menu-nav .extended-menu-title {
    padding-bottom: max(20px, 3vw);
    margin-bottom: max(20px, 3vw);
    position: relative;

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--line-gradient);
    }

    @media (min-width: 992px) {
        display: none;
    }
}

.extended-menu-footer {
    padding: 22px 0;
    background-color: var(--color-primary-large);
    transition: var(--transition);
    transition-property: opacity, translate;
    translate: 0 100%;
    opacity: 0;
}

.is-opened-extended-menu .extended-menu-footer {
    padding-right: var(--compensate-scrollbar, 0);
    translate: 0 0;
    opacity: 1;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.extended-menu-footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em 2em;

    @media (max-width: 767px) {
        gap: 1.25em .5em;
    }
}

.extended-menu-contact-btn {
    @media (min-width: 768px) {
        display: none;
    }
}

.extended-menu .main-menu {
    margin-left: calc(range.build(10, 23) * -1);

    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }

    a {
        @media (max-width: 767px) {
            padding: .25em .75em;
        }
    }
}

.extended-menu .main-menu a {
    &:hover,
    &.is-active {
        background-color: var(--color-primary-medium);
    }
}

.extended-menu-socials {
    --social-border-color: var(--color-primary-medium);
    --social-bg-color: var(--color-primary-medium);
    --social-icon-color: var(--color-white);
}
