@use '../functions/range';

.news {
    padding: range.build(60, 80) 0 60px;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: range.build(50, 78);
}

.news-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    @media (min-width: 1300px) {
        display: grid;
        grid-template-columns: 25% 1fr 25%;
        gap: 1em;
    }
}

.news-title {
    @media (min-width: 1300px) {
        font-size: range.build(32, 50, px, 1300);
    }
}

.news-subtitle {
    color: var(--color-gray);

    @media (max-width: 1299px) {
        text-align: center;
    }

    @media (min-width: 1300px) {
        order: 3;
        font-size: range.build(14, 16, px, 1300);
    }
}

.news-tags {
    display: flex;
    border: 2px solid var(--color-border);
    background-color: var(--color-border);
    margin: 0 auto;
    border-radius: 5em;
    gap: 5px;

    @media (max-width: 1299px) {
        margin-top: .5em;
    }
}

.news-tag-btn {
    --btn-width: #{range.build(76, 125)};
    --btn-height: #{range.build(50, 70)};
    --btn-px: .5em;
    --btn-fz: #{range.build(14, 18)};

    &:hover,
    &.is-active {
        --btn-color-bg: var(--color-white);
    }
}

.news-list {
    --col-count: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    gap: 20px;

    @media (min-width: 768px) {
        --col-count: 2;
    }

    @media (min-width: 992px) {
        --col-count: 3;
    }
}

.article-card {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    border-radius: var(--radius);
    overflow: hidden;
    background-color: var(--color-white);
    padding: range.build(20, 40);
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(var(--color-dark-rgb), .05);
    transition: var(--transition);
    transition-property: color, background-color;

    @media (min-width: 768px) {
        min-height: range.build(300, 320, px, 768, 991);
    }

    @media (min-width: 992px) {
        min-height: range.build(320, 388, px, 992);
    }

    &-title {
        display: flex;
        align-items: center;
        position: relative;
        gap: 20px;

        span {
            flex: 1 0 0;
        }

        &::after {
            display: block;
            content: '';
            width: 14px;
            aspect-ratio: 1;
            background-color: var(--color-primary);
            mask-image: var(--icon-corner-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            transition: var(--transition);
            transition-property: rotate, background-color;
            margin-left: auto;
        }
    }

    &-description {
        margin-top: range.build(18, 34);
        padding-top: range.build(20, 36);
        position: relative;
        transition: var(--transition);
        transition-property: color;
        color: var(--color-gray);

        &::before,
        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            transition: var(--transition);
            transition-property: opacity, visibility;
        }

        &::before {
            background-color: var(--color-dark);
        }

        &::after {
            z-index: 2;
            background: var(--line-gradient);
            opacity: 0;
            visibility: hidden;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding-top: 20px;
        transition: var(--transition);
        transition-property: color;
        color: var(--color-gray);

        time {
            display: flex;
            align-items: center;

            &::after {
                display: block;
                content: '';
                width: 6px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--color-gray);
                margin: 0 1.375em;
                transition: var(--transition);
                transition-property: opacity, background-color;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1em;
        text-align: center;
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        color: var(--color-white);
        background-color: var(--color-primary-medium);

        .article-card {
            &-title {
                &::after {
                    background-color: var(--color-white);
                    rotate: 45deg;
                }
            }

            &-description {
                color: var(--color-white);

                &::before {
                    opacity: 0;
                    visibility: hidden;
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-info {
                color: var(--color-white);

                time {
                    &::after {
                        background-color: var(--color-white);
                    }
                }
            }
        }
    }
}
