@use '../functions/range';

.news {
    padding: range.build(30, 60) 0 range.build(60, 80);
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: range.build(50, 60);
}

.news-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.news-subtitle {
    color: var(--color-gray);

    @media (max-width: 1299px) {
        text-align: center;
    }

    @media (min-width: 1300px) {
        order: 3;
        font-size: range.build(14, 16, px, 1300);
    }
}

.news-categories {
    display: flex;
    margin: 0 auto;
    gap: range.build(10, 26);

    @media (max-width: 1299px) {
        margin-top: .5em;
    }
}

.news-category-btn {
    --btn-width: 0;
    --btn-height: #{range.build(40, 60)};
    --btn-px: 1em;
    --btn-fz: #{range.build(14, 18)};
    --btn-color-bg: transparent;

    border-bottom: 2px solid transparent;
    border-radius: 0;

    &:hover,
    &.is-active {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary);
    }
}

.news-list {
    --col-count: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    gap: range.build(20, 30) 4px;

    @media (min-width: 768px) {
        --col-count: 2;
    }

    @media (min-width: 1440px) {
        --col-count: 3;
    }
}

.article-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
    transition: var(--transition);
    transition-property: color, background-color;

    &::after {
        display: block;
        content: '';
        width: 100px;
        aspect-ratio: 1;
        background-color: rgba(var(--color-black-rgb), .5);
        mask-image: var(--icon-pulse-rings);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 5;
        transition: var(--transition);
        transition-property: background-color, scale, opacity, visibility;
        opacity: 0;
        visibility: hidden;
        scale: 0;
        pointer-events: none;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1 0 0;
        z-index: 5;
        padding: range.build(20, 24) range.build(20, 30);
        transition: var(--transition);
        transition-property: opacity;
    }

    &-icon {
        --icon-size: min(70%, 320px);
        --icon-color: var(--color-secondary);

        position: absolute;
        top: 10%;
        right: -8%;
        transition: var(--transition);
        transition-property: opacity;
        opacity: 0;

        @media (min-width: 768px) {
            --icon-size: 60%;
        }
    }

    &-title {
        display: flex;
        align-items: center;
        position: relative;
        gap: 20px;
        color: var(--color-secondary-medium);
        transition: var(--transition);
        transition-property: color;

        @media (max-width: 424px) {
            font-size: 18px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 18px;
        }

        span {
            flex: 1 0 0;
        }

        &::after {
            display: block;
            content: '';
            width: 14px;
            aspect-ratio: 1;
            background-color: var(--color-secondary-medium);
            mask-image: var(--icon-corner-arrow);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            transition: var(--transition);
            transition-property: rotate, background-color;
            margin-left: auto;
        }
    }

    &-description {
        margin-top: range.build(14, 28);
        padding-top: range.build(16, 30);
        position: relative;
        transition: var(--transition);
        transition-property: color, opacity;
        color: var(--color-gray);

        &::before,
        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            transition: var(--transition);
            transition-property: opacity, visibility;
        }

        &::before {
            background-color: var(--color-secondary-medium);
        }

        &::after {
            z-index: 2;
            background: var(--line-gradient);
            opacity: 0;
            visibility: hidden;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding-top: 10px;
        transition: var(--transition);
        transition-property: color, opacity;
        color: var(--color-gray);

        @media (min-width: 768px) {
            padding-top: 20px;
        }

        &>* {
            transition: var(--transition);
            transition-property: opacity;
        }

        time {
            display: flex;
            align-items: center;

            span {
                transition: var(--transition);
                transition-property: opacity;
            }

            &::after {
                display: block;
                content: '';
                width: 6px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--color-gray);
                margin: 0 1.375em;
                transition: var(--transition);
                transition-property: opacity, background-color;
            }
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1em;
        text-align: center;
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        color: var(--color-white);
        background-color: #f2f2f7;

        .article-card {
            &-icon {
                opacity: .3;
            }

            &-title {
                color: var(--color-dark);

                &::after {
                    background-color: var(--color-dark);
                    rotate: 45deg;
                }
            }

            &-description {
                color: var(--color-dark);

                &::before {
                    opacity: 0;
                    visibility: hidden;
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &-info {
                color: var(--color-dark);

                time {
                    opacity: 1;

                    &::after {
                        background-color: var(--color-dark);
                    }
                }
            }
        }
    }
}

.is-news-updating {

    .news-categories,
    .news-pagination,
    .article-card {
        pointer-events: none;
    }

    .article-card {
        &::after {
            opacity: 1;
            visibility: visible;
            scale: 1;
        }

        &-wrapper {
            opacity: .25;
        }
    }
}