@use '../functions/range';

.services {
    padding: range.build(50, 80) 0;
}

.services-head {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    &-title {
        color: var(--color-secondary-medium);
        text-transform: uppercase;
    }
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 60px range.build(40, 140, px, 768);
}

.services-row {
    --gap-x: 0;
    --gap-y: 30px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-y) var(--gap-x);
    position: relative;

    @media (min-width: 768px) {
        --gap-x: 80px;

        display: grid;
        grid-template-columns: 1.25fr 1fr;
    }

    @media (min-width: 992px) {
        --gap-x: 80px;
    }

    @media (min-width: 1240px) {
        --gap-x: 100px;
    }

    @media (min-width: 1440px) {
        --gap-x: 140px;
    }

    @media (min-width: 1680px) {
        --gap-x: 160px;
    }

    &:nth-child(even) {
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1.25fr;

            .services-row-image,
            .services-row-pictures {
                order: -1;
            }
        }
    }

    .primary-link {
        color: rgba(var(--color-dark-rgb), .5);

        &:hover {
            color: var(--color-primary);
        }
    }
}

.services-row-pictures {
    aspect-ratio: 1 / .866;
    position: relative;

    @media (max-width: 767px) {
        max-width: 600px;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        order: 0;
    }
}

.services-row-image {
    @media (max-width: 767px) {
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
    }
}

.services-row-body {
    display: flex;
    flex-direction: column;
    gap: range.build(24, 50);

    @media (min-width: 768px) {
        align-self: center;
        padding: 40px 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: range.build(16, 20, px, 768);

        @media (min-width: 768px) {
            max-width: 360px;
        }

        @media (min-width: 992px) {
            max-width: 400px;
        }

        @media (min-width: 1240px) {
            max-width: 500px;
        }
    }
}

.services-row-title {
    font-weight: normal;

    @media (min-width: 600px) {
        font-size: 26px;
    }

    @media (min-width: 1240px) {
        font-size: 34px;
    }

    @media (min-width: 1440px) {
        font-size: 38px;
    }

    @media (min-width: 1680px) {
        font-size: 42px;
    }
}