@use '../functions/range';

.who-we-are {
    padding: range.build(40, 100) 0;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 40px 0;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.who-we-are-pictures {
    width: 100%;
    aspect-ratio: 1 / .85;
    position: relative;
    order: 2;
    //background-color: #ccc;

    @media (min-width: 768px) {
        width: 50%;
        order: 0;
    }
}

.who-we-are-image {
    &-back,
    &-front {
        position: absolute;
        aspect-ratio: 1 / 1.16;
        border-radius: var(--radius);
    }

    &-back {
        width: 54%;
        top: 0;
        left: 0;
    }

    &-front {
        width: 62%;
        right: 0;
        bottom: 0;
    }
}

.who-we-are-body {
    display: flex;
    flex-direction: column;
    gap: range.build(26, 74, px, 768);

    @media (min-width: 768px) {
        width: 50%;

        padding: 0 range.build(0, 130, px, 768) 0 range.build(40, 244, px, 768);
    }
}

.who-we-are-title {
    color: var(--color-secondary-medium);
    text-transform: uppercase;
}

.who-we-are-description {
    & > * {
        &:not(:is(h2, h3, h4, h5, h6)) {
            opacity: .5;
        }
    }

    h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
}
