@use '../functions/range';

.who-we-are {
    padding: range.build(40, 100) 0;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 40px 0;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.who-we-are-pictures {
    width: 100%;
    aspect-ratio: 1 / .85;
    position: relative;
    order: 2;
    //background-color: #ccc;

    @media (max-width: 767px) {
        max-width: 440px;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        width: 44%;
        order: 0;
    }
}

.who-we-are-image {
    &-back,
    &-front {
        position: absolute;
        aspect-ratio: 1 / 1.16;
        border-radius: var(--radius);
    }

    &-back {
        width: 54%;
        top: 0;
        left: 0;
    }

    &-front {
        width: 62%;
        right: 0;
        bottom: 0;
    }
}

.who-we-are-body {
    display: flex;
    flex-direction: column;
    gap: range.build(26, 74, px, 768);

    @media (min-width: 768px) {
        width: 56%;
        gap: 30px;
        padding: 0 0 0 60px;
    }

    @media (min-width: 992px) {
        gap: 40px;
        padding: 0 0 0 110px;
    }

    @media (min-width: 1240px) {
        gap: 46px;
        padding: 0 0 0 130px;
    }

    @media (min-width: 1440px) {
        gap: 60px;
        padding: 0 50px 0 180px;
    }

    @media (min-width: 1680px) {
        gap: 74px;
        padding: 0 130px 0 244px;
    }
}

.who-we-are-title {
    color: var(--color-secondary-medium);
    text-transform: uppercase;
}

.who-we-are-description {
    & > * {
        &:not(:is(h2, h3, h4, h5, h6)) {
            opacity: .5;
        }
    }

    h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
}
